body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card{
  width: 200px;
  display: inline-block;
}

.card img{
  width: 100%;
}


// PROFILE--------------------------
